---
import SmartLink from "~components/Base/SmartLink.astro";
import TextTitle from "~components/Base/TextTitle.astro";
import TextSubitle from "~components/Base/TextSubitle.astro";
import TextRegular from "~components/Base/TextRegular.astro";
import SkipTo from "~components/Base/SkipTo.astro";
import Card from "~components/UI/Card.astro";
import TableOfContents from "~components/UI/TableOfContents.astro";
import TextHighlight from "~components/UI/TextHighlight.astro";
import MainLayout from "~layouts/MainLayout.astro";
import AccordionList from "~components/UI/AccordionList.astro";
---

<MainLayout
  head={{
    description:
      "In this page you will find everything about my personal journey as a developer, my work related experience and all the tools I've currently used during all these projects!",
    title: "Roy Eden - About me...",
  }}
>
  <SkipTo target="content">Skip to content</SkipTo>
  <SkipTo target="navigation">Skip to navigation</SkipTo>
  <div
    class="flex w-full flex-col items-center space-y-8 bg-black/20 px-5 pt-8 leading-snug md:px-8"
  >
    <TextTitle>About</TextTitle>
    <TextSubitle>
      <h2>Here you can see my personal / work experience and tools!</h2>
    </TextSubitle>
    <TableOfContents
      items={[
        {
          title: "Bio",
          id: "bio",
        },
        {
          title: "Experience",
          id: "experience",
        },
        {
          title: "My Toolbox",
          id: "toolbox",
        },
      ]}
    />
    <section id="content" class="w-full max-w-screen-lg space-y-2" id="bio">
      <TextSubitle>
        <h2>Bio:</h2>
      </TextSubitle>
      <TextRegular class="space-y-2">
        <p>
          Hi! I'm Roy Eden, a Full-Stack Developer &amp; Electronic Arts Student
          who started coding in 2016 and hasn't stopped ever since! I've picked
          up some of the concepts of design and also about UX and accessibility
          over the years. This has also come with an interest in performance and
          also good DX.
        </p>
        <p>
          I think that programming is and should always be a fun experience,
          that's why I like sharing it with other people. For example: helping
          others start on their programmer journeys. It's always a joy to
          collaborate with others, see how others code and how others think.
          This is also the reason I love open source projects and try to
          contribute to them whenever possible. I also love to reverse engineer
          solutions or modify some code to experiment with what others make.
        </p>
      </TextRegular>
    </section>
    <section class="w-full max-w-screen-lg space-y-2" id="experience">
      <TextSubitle>
        <h2>Experience:</h2>
      </TextSubitle>
      <!-- TODO change from flex to grid -->
      <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        {
          [
            {
              workplace: "Widergy",
              position: "React Native Developer",
              website: "https://widergy.com/",
              start: 2018,
              end: 2019,
              responsabilities: [
                "Development of mobile applications for clients by myself and with the rest of the mobile team.",
                "Training of new colleagues.",
                "Continuous Intregration / Deployment Configuration for the applications using Bitrise & Fastlane.",
                "Development of complex components for animations/transitions.",
                "Research/Update tracking for dependencies.",
                "Research and design for component libraries.",
              ],
              stack: [
                "React",
                "React Native",
                "Redux",
                "Redux-Sagas",
                "Bitrise",
                "Fastlane",
                "Agile Methodology",
              ],
            },
            {
              workplace: "Worcket",
              position: "Front-End Developer",
              website: "https://www.worcket.com/",
              start: 2019,
              end: 2020,
              responsabilities: [
                "Implemented diverse features across the platform.",
                "Helped desing & implement a new product.",
                "Performance & metrics optimizations for all our used sites.",
                "Performed end to end testing with Cypress.",
                "Continuous Intregration / Deployment Configuration for the mobile application using Bitrise.",
              ],
              stack: [
                "Next.js",
                "React",
                "React Native",
                "Redux",
                "Bitrise",
                "Design",
                "TailwindCSS",
                "Styled Components",
                "Cypress",
              ],
            },
            {
              workplace: "embark.live",
              position: "Full-Stack Engineer",
              website: "https://embark.live/",
              start: 2020,
              end: 2022,
              responsabilities: [
                "Implemented diverse features across the site.",
                "Co-designed & implemented a unified design system components for the site.",
                "Improved UI/UX/DX, performance, lighthouse metrics and accessibility across the site.",
                "Implemented complex animated components.",
                "Implemented end to end testing with Cypress.",
              ],
              stack: [
                "Vue (version 2.7.x)",
                "Laravel",
                "TailwindCSS",
                "Cypress",
                "SQL",
                "Design",
                "SASS",
              ],
            },
            {
              workplace: "ZERF",
              position: "Full-Stack Developer",
              website: "https://www.zerf.tech/",
              start: 2022,
              end: "Current",
              responsabilities: [
                "Development in multiple projects",
                "Designing training flows for new staff",
                "Strive for better DX and accessibility",
                "More info in the future, I'm still new 🙂",
              ],
              stack: ["React", "Next.js", "TailwindCSS", "Typescript"],
            },
          ].map(
            ({
              workplace,
              website,
              position,
              responsabilities,
              stack,
              start,
              end,
            }) => (
              <Card class="w-full space-y-2 p-4">
                <TextRegular class="space-y-1 text-xl">
                  <header class="font-bold">{position}</header>
                  <div class="flex items-center justify-between space-x-4">
                    <SmartLink
                      class="w-full font-bold underline"
                      href={website}
                    >
                      {workplace}
                    </SmartLink>
                    <p class="shrink-0 italic">
                      {start} &mdash; {end}
                    </p>
                  </div>
                </TextRegular>
                <div class="divide-y-2 divide-white/50">
                  <div class="pb-4">
                    <AccordionList items={responsabilities} open>
                      Responsabilities:
                    </AccordionList>
                  </div>
                  <div class="pt-4">
                    <AccordionList items={stack} open>
                      Tech Stack:
                    </AccordionList>
                  </div>
                </div>
              </Card>
            )
          )
        }
        <Card
          class="w-full p-4 flex flex-col justify-center items-center space-y-2 text-2xl"
        >
          <header class="font-bold">This could be your company 😁</header>
          <p>
            <SmartLink class="p-1" href="mailto:roy.ede@gmail.com">
              <TextHighlight class="underline">
                You can consider getting in touch!
              </TextHighlight>
            </SmartLink>
          </p>
        </Card>
      </div>
    </section>
    <section class="w-full max-w-screen-lg space-y-3" id="toolbox">
      <TextSubitle>
        <h2>My Toolbox:</h2>
      </TextSubitle>
      {
        [
          {
            title: "Front-End:",
            skills: [
              <span>
                JavaScript (I'm even
                <SmartLink
                  class="p-0.5"
                  href="https://www.freecodecamp.org/certification/royede/javascript-algorithms-and-data-structures"
                >
                  <TextHighlight class="underline">certified</TextHighlight>
                </SmartLink>
                ).
              </span>,
              "TypeScript (still getting better at it).",
              "React (Next.js, Gatsby)",
              "Vue (mainly used Vue 2).",
              "Svelte (still learning).",
              "Solidjs (still learning).",
              <span>
                Astro (
                <SmartLink
                  class="p-0.5"
                  href="/blog/2022/08/16/re-building-my-portfolio-in-astro"
                >
                  <TextHighlight class="underline">
                    Powers this site
                  </TextHighlight>
                </SmartLink>
                ).
              </span>,
              "Redux (with thunk and sagas).",
              "Vuex.",
              "CSS (I mainly use TailwindCSS, also used BEM with SASS).",
              "React Native (mobile).",
              "Web Accessibility (learning more everyday).",
              "Electron for Desktop applications (that where/are currently in development).",
            ],
          },
          {
            title: "Back-End (Mostly basic or moderate knowledge):",
            skills: [
              "Laravel (mainly used with Vapor).",
              "Python with flask.",
              "NodeJS / Express.",
              "SQL, SQLite or MongoDB as Databases.",
            ],
          },
          {
            title: "Testing:",
            skills: [
              "Cypress for End to End Testing.",
              "uvu/mocha for unit tests.",
            ],
          },
          {
            title: "Other:",
            skills: [
              "JavaScript, Python, Bash or Ruby for basic scripting.",
              "Pure Data for graphic programming and sound/music processing.",
              "Processing (Java) / p5js for visuals.",
              "Arduino.",
              "Currently learning ThreeJS for 3D web visuals.",
              "Shaders is on the list of things to learn as well.",
            ],
          },
        ].map(({ title, skills }) => (
          <AccordionList items={skills} open>
            {title}
          </AccordionList>
        ))
      }
    </section>
    <!-- <p class="text-center">
      I'm currently looking for a job, so feel free to
      <SmartLink class="p-1" href="mailto:roy.ede@gmail.com">
        <TextHighlight class="underline">get in touch.</TextHighlight>
      </SmartLink>
    </p> -->
  </div>
</MainLayout>
