---
import { Icon } from "astro-icon";
import LayoutCanvasBg from "~components/Layouts/LayoutCanvasBg.astro";
import LayoutHead from "~components/Layouts/LayoutHead.astro";
import SmartLink from "~components/Base/SmartLink.astro";
import type { Props as LayoutHeadProps } from "~components/Layouts/LayoutHead.astro";
import TextHighlight from "~components/UI/TextHighlight.astro";
import normalizeAstroClassListProps from "~utils/normalizeAstroClassListProps";
import { TRANSITION_PARAM_KEY } from "~utils/page-transitions";

const year = new Date().getFullYear();

const transition = Astro.url.searchParams.get(TRANSITION_PARAM_KEY);

export interface Props extends astroHTML.JSX.HtmlHTMLAttributes {
  body?: astroHTML.JSX.HTMLAttributes;
  bodyClass?: string;
  head: LayoutHeadProps; // TODO auto resolve the url site with import.meta.env.SITE
  mainClass?: string;
}
const {
  body = {},
  bodyClass = "",
  mainClass = "",
  head,
  ...props
} = Astro.props as Props;
---

<html
  {...props}
  lang="en"
  class:list={[
    normalizeAstroClassListProps(props).classList,
    "scrollbar-track-black/20 h-full scrollbar scrollbar-thin scrollbar-thumb-pink-500 motion-safe:scroll-smooth",
  ]}
>
  <head>
    <LayoutHead {...head} />
    <slot name="head" />
    <noscript>
      <style>
        .requires-js {
          display: none;
        }
        .show-no-js {
          display: unset;
        }
        /* Disable page transitions */
        main {
          height: auto !important;
          opacity: 1 !important;
        }
      </style>
    </noscript>
  </head>

  <body
    {...body}
    class:list={[bodyClass, "h-full bg-black text-white relative"]}
  >
    <LayoutCanvasBg />
    <div class="relative z-10 flex h-full flex-col items-center">
      <script>
        import {
          addPageTransitionLink,
          getTransitionLinks,
          pageTransitionIn,
        } from "~utils/page-transitions";

        document.addEventListener("DOMContentLoaded", () => {
          pageTransitionIn();
          getTransitionLinks().forEach((link) => addPageTransitionLink(link));
        });
      </script>
      <main
        class:list={[
          transition && "opacity-0 h-0",
          mainClass,
          "w-full bg-black/20",
        ]}
      >
        <slot />
      </main>
      <!-- TODO move to another component to ease reading -->
      <div
        class="mt-4 flex w-full flex-col items-center bg-black/20 p-1.5 md:mt-8"
      >
        <nav id="navigation" class="flex flex-col items-center space-y-4 pb-4">
          <ul class="flex flex-wrap justify-center">
            {
              [
                { href: "", title: "Home" },
                { href: "about", title: "About" },
                { href: "blog", title: "Blog" },
                { href: "projects", title: "Projects" },
              ].map(({ href, title }) => (
                <li class="mx-4 mb-4 flex w-full items-center justify-center sm:w-auto">
                  <SmartLink
                    class="w-full border-2 border-white/50 bg-neutral-900/50 px-4 py-2 text-center font-bold capitalize tracking-wide text-white hover:border-white hover:bg-neutral-800 focus:bg-neutral-800 motion-safe:will-change-transform motion-safe:hover:-translate-y-1 motion-safe:focus-visible:-translate-y-1 md:w-36"
                    href={`/${href}`}
                    title={title}
                  >
                    {title}
                  </SmartLink>
                </li>
              ))
            }
          </ul>
          <ul class="flex justify-center">
            {
              [
                {
                  icon: "octicon:mark-github-16",
                  href: "https://github.com/royeden",
                  title: "Visit my Github profile",
                },
                {
                  icon: "uiw:linkedin",
                  href: "https://www.linkedin.com/in/roy-eden/",
                  title: "Visit my linkedin",
                },
                {
                  icon: "heroicons-outline:at-symbol",
                  href: "mailto:roy.ede@gmail.com",
                  title: "Send me an email",
                },
              ].map(({ icon, href, title }) => (
                <li class="mx-4 flex w-full items-center justify-center sm:w-auto">
                  <SmartLink
                    class="p-2 text-neutral-300 hover:text-white focus:text-white motion-safe:will-change-transform motion-safe:hover:scale-110 motion-safe:focus-visible:scale-110"
                    href={href}
                    title={title}
                  >
                    {<Icon name={icon} class="h-8 w-8" />}
                  </SmartLink>
                </li>
              ))
            }
          </ul>
        </nav>
        <footer class="space-y-1 text-center text-white">
          <p>
            &copy;
            <SmartLink
              class="underline font-bold text-neutral-300 hover:text-white focus:text-white px-1"
              href="/"
            >
              Roy Eden
            </SmartLink>
            — {year}
          </p>
          <p>
            <SmartLink class="p-1" href="/credits">
              <TextHighlight class="underline">
                Credits & Acknowledgements
              </TextHighlight>
            </SmartLink>
          </p>
        </footer>
      </div>
    </div>


  </body>
</html>
